/target
/modem-app/node_modules
/modem-app/dist
/modem-app/src-tauri/target
/modem-app/src-tauri/binaries
*.log
.env
/tmp/pdfs/*
Cargo.lock
*.inf
*.cat
*.sys
!third_party/simcom/windows10-x64-serial/**/*.inf
!third_party/simcom/windows10-x64-serial/**/*.cat
!third_party/simcom/windows10-x64-serial/**/*.sys
